a {
  color: #900c3f;
  font-weight: 900;
  text-decoration: none;
}

a:hover {
  color: #183661;
}

body {
  color: #000;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
}

hr {
  border-style: solid none none;
  border-width: 2px;
  border-color: #183661;
  margin: 0.7% auto;
  position: relative;
  width: 5.5%;
}

h3 {
  color: #183661;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}

                                  /* hr Styles */

.hr-left {
  left: 20px;
}

.hr-right {
  right: 20px;
}

                                  /* Headings */

.title {
  font-family: 'Satisfy', cursive;
  font-size: 5.625rem;
}

.subtitle {
  font-family: 'Bitter', serif;
  font-size: 2.2rem;
  line-height: 2;
}

                                  /* Containers */

.standard-container {
  background-color: #B8C4CC;
  padding: 3% 0;
}

                                  /* Starting Section */

#starting {
  background-color: #e9fadd;
  padding: 4% 0;
  position: relative;
}

.spaceship {
  position: absolute;
  right: 19%;
  top: 7%;
  transform: rotate(20deg);
  width: 7%;
}

.mountain {
  height: 28%;
  width: 38%;
}

.ufo {
  position: absolute;
  left: 19%;
  bottom: 54%;
  width: 7%;
  transform: rotate(-20deg);
}

                                  /* Intro Section */

#intro .standard-container {
  padding: 5% 0 3%;
}

.me {
  height: 20%;
  margin-bottom: 10px;
  width: 20%;
}

.bio {
  margin: auto;
  width: 38%;
}

                                  /* Skills Section */

#skills .standard-container {
  padding: 0.5% 0 0.1%;
}

.skill-row {
  line-height: 2;
  margin: 4.3% auto;
  text-align: left;
  width: 55%;
}

.lens {
  float: left;
  margin: 20px 30px 0 auto;
  width: 25%;
}

.cpp {
  float: right;
  margin: 2.5% 0 auto 25px;
  width: 25%;
}

                                  /* Contact-Me Section */

#contact-me .standard-container{
  padding: 1% 0 4%;
}

.contact-text {
  color: #000;
  margin: auto auto 55px;
  width: 40%;
}

.envelope {
  color: #183661;
  margin-top: 12px;
  font-size: 2.6rem;
}

.envelope:hover {
  color: #000;
}

                                  /* Footer Section */

#footer .standard-container{
  background-color: #D4837F;
  margin: 0;
}

.footer-text {
  display: inline;
  line-height: 2;
  margin-right: 38px;
}

.media-link:hover {
  color: #e9fadd;
}

.social-media {
  width: 1.2%;
  margin-right: 7px;
}
