a {
  color: #900c3f;
  font-weight: 900;
  text-decoration: none;
}

a:hover {
  color: #E6E6E6;
}

.bar-left {
  border-style: solid none none;
  border-width: 2px;
  border-color: #183661;
  left: 20px;
  margin: 15px auto 10px;
  position: relative;
  width: 5.5%;
}

.bar-right {
  border-style: solid none none;
  border-width: 2px;
  border-color: #183661;
  position: relative;
  right: 20px;
  width: 5.5%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
}

.bottom-cloud {
  height: 11%;
  position: absolute;
  left: 19%;
  bottom: 54%;
  width: 8%;
}

.bottom-container {
  background-color: #D4837F;
  margin: 0;
  padding: 2% 0 1%;
}

.btn {
  color: #183661;
}

.contact-me {
  padding: 1% 0 4%;
}

.contact-message {
  width: 40%;
  margin: auto auto 55px;
}

.cpp {
  float: right;
  margin: 2.5% 0 auto 25px;
  width: 25%;
}

.footer-link {
  display: inline;
  line-height: 2;
  margin-right: 38px;
}

.footer-logo {
  width: 1.2%;
}

h3 {
  color: #183661;
  font-size: 1.6rem;
}

.intro {
  margin: auto;
  width: 40%;
}

.lens {
  float: left;
  margin: 20px 30px 0 auto;
  width: 25%;
}

.middle-container {
  background-color: #B8C4CC;
  padding: 5px 0;
}

.me {
  height: 20%;
  width: 20%;
}

.mail {
  margin-top: 10px;
  width: 3.5%;
}

.mountain {
  height: 28%;
  width: 38%;
}

p {
  line-height: 2;
}

.profile {
  padding: 5% 0 3%;
}

.skill-row {
  line-height: 2;
  margin: 70px auto;
  text-align: left;
  width: 55%;
}

.subtitle {
  font-family: 'Bitter', serif;
  font-size: 2.2rem;
  margin-bottom: 30px;
  line-height: 2;
}

.title {
  margin: 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 5.625rem;
}

.top {
  margin-top: 55px;
}

.top-container {
  background-color: #e9fadd;
  position: relative;
  padding: 10% 0 4%;
}

.top-cloud {
  height: 13%;
  position: absolute;
  right: 19%;
  top: 5%;
  width: 8%;
}
